.container {
  display: inline-block;
  border: 1px solid;
  position: relative;
  padding: 10px;
  font-weight: 900;
}

.wrapper {
    font-style: italic;
  width: 400px;
  background-color: transparent;
  color: white;
  border: 1px solid #fcfdff;
  margin-bottom: 5px;
  padding: 5px;
  box-shadow: 2px 2px 2px white;
  font-weight: 900;
}

h1 {
  color: white;
  font-style: italic;
  font-size: 50px;
  font-weight: 900;
  text-shadow: 1px 1px rgb(82, 82, 241);

}

.remove {
    background-color: transparent;
    color: white;
        border-radius: 3px;
  }
  