.container {
    display: flex;
    flex-wrap: wrap;
    align-items: space-between;
    padding: 5px;
    max-width: 100%;
     
    
}

.wrapper {
 
    width: 400px;
    background-color: white;
    color: black;
    border: 2px solid #4CAF50;  
    
}